__pycache__/
build/
*.egg-info/
*.so
*.mp4

*.pth
*.engine
*.onnx
*.log
*.wav
*.zip
/data/*

# 但是不忽略这两个特定的文件
!/data/template_upload_api.py
!/data/test_template_upload_api.py
digitalhuman-web-bak/*

.venv
.vscode
.pytest_cache
.env
jieba.cache

ragdb/
.vscode
gguf/*.gguf

wav2lip/
storage/
storage.*/
config.toml
logs/
